@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #e0e0e0;
}

.mat-card {
  background-color: #f5f5f5;
}
.container {
  width: 80%;
  padding-top: 1rem;
  margin: 0 auto;
}

.error {
  background: white;
  color: red;
  border-left: solid 4px red;
  border-radius: 4px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 10px;
  font-size: 1rem;
}
